*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./getty_food.jpeg);
    background-size: cover;
    background-position: center;
}
.hometext{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.hometext h1{
    font-size: 120px;
    

}

.Recipe{
    color: white;
}

.Recipe h1{
    text-align: center;
    padding: 60px;
}

.content{

    color: white;
    text-align: center;
    line-height: 150%;
    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    list-style-position: inside;
}
.content p, h2{
    padding: 40px;

}
 button{
    width: 200px;
    padding: 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

a:hover{
    color: black;
}

a{
    color: white;
    text-decoration: none;
}


button:hover{
    background-color: white;
}

.parallax{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./getty_food.jpeg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ingredients{
    text-decoration: none;
}

li{
    margin: 25px 0;
  }

img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    max-width: 30%;
    align-items: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }